<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bottlr"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name=".views.SplashScreenView"
            android:label="@string/title_activity_splash_screen"
            android:noHistory="true" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>   
            
        </activity>

        <!-- Press bottle cap activity -->
        <activity
            android:name=".views.PressBottleCapView"
            android:noHistory="true" >
        </activity>

        <!-- Home screen activity -->
        <activity android:name=".views.HomeScreenView" >
        </activity>

        <!-- Bottle details view -->
        <activity
            android:name=".views.BottleDetailsView"
            android:noHistory="true" >
        </activity>

        <!-- login activity view -->
        <activity
            android:name=".views.LoginView"
            android:noHistory="true" >
        </activity>
        
         <activity
            android:name=".views.VideoOverImageActivity"
            android:noHistory="true" >
            
        </activity>
        
        <activity android:name=".views.VideoViewActivity" >
        
        </activity>
    </application>

</manifest>